:root {
  --primary-color: #2fa4ad;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  color: #999;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

.showcase {
  width: 100%;
  height: 50vh;
  position: relative;
  background: #fff;
}

.clients {
  background: #f7f7f7;
}

.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* background: rgba(0, 0, 0, 0.6); */
}

.showcase-top {
  position: relative;
  height: 90px;
  background: #fff;
}

.showcase-top img {
  width: 170px;
  position: absolute;
  top: 25%;
  left: 10%;
  transform: translate(-25%, -10%);
}

.showcase-top a {
  position: absolute;
  top: 25%;
  right: 0%;
  transform: translate(-25%, -10%);
}

.showcase-content {
  position: relative;
  margin: auto;
  display: grid;
  /* flex-direction: column; */
  grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  /* margin-top: 9rem; */
  background: #31a2be;
}
.showcase-content img {
  z-index: 1;
  position: relative;
  /* height: 50vh; */
}

.tagline {
  z-index: 2;
  top: 50%;
  left: 50%;
  /* transform: translate(-55%, 45%); */
}

.showcase-clients {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  justify-content: space-evenly;
  max-width: 70%;
  align-content: center;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.three-images {
  position: relative;
  display: flex;
  grid-template-columns: repeat(3 1fr);
  width: 80%;
  margin-left: 10%;
}

.three-images img {
  padding: 5rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.showcase-clients img {
  padding: 1em;
  justify-content: center;
  align-items: center;
}

.showcase-content h1 {
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 1.1rem;
  margin: 2rem 0 5rem 2rem;
  line-height: 100px;
  z-index: 2;
}

.showcase-content p {
  color: #fff;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 1.25;
  margin: 0 0 2rem;
  z-index: 2;
}

/* Buttons */
.btn {
  display: inline-block;
  /* background: var(--primary-color); */
  background: #fff;
  color: var(--primary-color);
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 2px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-rounded {
  border-radius: 5px;
}

.btn-xl {
  font-size: 2rem;
  padding: 1.5rem 2.1rem;
  text-transform: uppercase;
}

.btn-lg {
  font-size: 1rem;
  padding: 0.8rem 1.3rem;
  text-transform: uppercase;
}

.qualified-leads {
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.qualified-leads h1 {
  color: black;
  margin: 0 0 2rem;
}

.qualified-leads p {
  font-size: 1.5rem;
  width: 50%;
  margin-left: 25%;
}

.gradient {
  background: rgb(68, 15, 106);
  background: linear-gradient(
    90deg,
    rgba(68, 15, 106, 1) 0%,
    rgba(68, 15, 106, 1) 18%,
    rgba(0, 212, 255, 1) 100%
  );
}

.gradient1 {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10%;
  padding-top: 5rem;
}

.gradient2 {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10%;
  margin-top: 5rem;
  padding-bottom: 5rem;
}

.gradient-text {
  padding: 3rem;
}

.gradient img {
  padding: 3rem;
}

.ask-clearbit h1 {
  color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.ask-clearbit p {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5rem;
}

.api {
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-left: 33%;
  margin-right: 33%;
  margin-bottom: 7rem;
  padding: 1rem;
  border-style: solid;
  border-color: #c0e9f0;
  border-radius: 0.3rem;
}

.api img {
  height: 2rem;
  width: 2rem;
  justify-self: end;
  margin-right: 1rem;
}

.testimony {
  background: #dfd8d4;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.testimony img {
  position: relative;
  z-index: 1;
}

.quote {
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-55%, 45%);
  font-size: larger;
}

.email {
  background: url(../assets/world.png) no-repeat center;
  /* width: 100%; */
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5rem;
}

.email h1 {
  color: black;
  /* margin-top: 5rem; */
  margin-bottom: 3rem;
  padding-top: 5rem;
}

.email p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.email input {
  margin-top: 1rem;
  margin-bottom: 2rem;
  line-height: 1.25rem;
}

.email email-input {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 1rem;
  border-style: solid;
  border-color: #c0e9f0;
  border-radius: 0.3rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.footer {
  background: #212b33;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1.5rem;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  align-items: center;
}

.bottom p {
  justify-self: start;
}

.button-one {
  justify-self: end;
}

.button-two {
  justify-self: start;
}
